body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Roboto', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.leaflet-tile {
  filter: contrast(0.93) grayscale(0.9) hue-rotate(20deg);
}
